body {
    height: 100vh;
    margin: 0;
    padding: 0;
    --primary-font: "Montserrat Alternates";
    --secondary-font: "Poppins", sans-serif;
    font-family: var(--primary-font);
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Tamaños y posiciones variados */
.circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 20%;
    background: radial-gradient(circle, rgba(255, 192, 203, 1) 0%, rgba(255, 192, 203, 0) 100%);
}

.circle:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 50%;
    left: 70%;
    background: radial-gradient(circle, rgba(173, 216, 230, 1) 0%, rgba(173, 216, 230, 0) 100%);
}

.circle:nth-child(3) {
    width: 250px;
    height: 250px;
    top: 80%;
    left: 40%;
    background: radial-gradient(circle, rgba(144, 238, 144, 1) 0%, rgba(144, 238, 144, 0) 100%);
}

.circle:nth-child(4) {
    width: 300px;
    height: 300px;
    top: 30%;
    left: 10%;
    background: radial-gradient(circle, rgb(255, 247, 176) 0%, rgba(240, 230, 140, 0) 100%);
}

.circle:nth-child(5) {
    width: 100px;
    height: 100px;
    top: 60%;
    left: 80%;
    background: radial-gradient(circle, rgba(221, 160, 221, 1) 0%, rgba(221, 160, 221, 0) 100%);
}

.line {
    width: 100%;
    height: 7px;
    background: linear-gradient(to right, #EC2127, #EA0B8B, #F58220, #FFD200, #77C043, #2BABE2, #724C9F, #432A88);
}

.all {
    width: 100%;
    backdrop-filter: blur(40px);
    position: relative;
    height: 120vh;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

section .container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
}

section .info img {
    width: 100px;
}

section .info h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-wrap: balance;
    font-family: var(--secondary-font);
    color: rgb(42, 42, 42);
}

section .info h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: rgb(42, 42, 42);
    text-wrap: balance;
    font-family: var(--secondary-font);
}

section .info p {
    font-weight: 300;
    font-size: 0.735rem;
    text-wrap: balance;
}

section .buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

section .socials {
    display: flex;
    padding: 0.6rem 0 1.3rem 0;
    align-items: center;
    gap: 10px;
}

section .socials a {
    color: rgb(42, 42, 42);
    font-size: 0.735rem;
}

section .buttons a {
    text-decoration: none;
    font-weight: 300;
    font-size: 0.65rem;
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
    background: #432F87;
    padding: 0.75rem 1rem;
    transition: all 0.3s;
}

section .buttons a:hover {
    color: #432F87;
    background: white;
    outline: 1px solid #432F87;
}

section .image {
    width: 100%;
}

.image img {
    width: 400px;
    height: auto;
    border-radius: 65% 35% 60% 40% / 50% 50% 50% 50%;
    transition: .5s border-radius;
    animation: bubble 3s infinite alternate ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para dar efecto de burbuja */
}

@keyframes bubble {
    0% {
        border-radius: 65% 35% 60% 40% / 50% 50% 50% 50%;
    }

    50% {
        border-radius: 55% 45% 70% 30% / 60% 40% 60% 40%;
    }

    100% {
        border-radius: 43% 57% 35% 65% / 50% 50% 50% 50%;
    }
}

/* Consultas de medios para dispositivos móviles */
@media (max-width: 850px) {

    .container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    section .info h2 {
        font-size: 1.2rem;
    }

    section .info h3 {
        font-size: 1rem;
    }

    section .info p {
        font-size: 0.9rem;
    }

    section .buttons a,
    section .socials a {
        font-size: 0.9rem;
    }

    .image{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    section .info img {
        width: 120px;
    }

    section .info h2 {
        font-size: 1rem;
    }

    section .info h3 {
        font-size: 0.9rem;
    }

    section .info p {
        font-size: 0.8rem;
    }

    section .buttons a,
    section .socials a {
        font-size: 0.8rem;
    }
}