body{
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:%23ffffff;display:block;z-index:1;position:relative" width="1517" height="725" preserveAspectRatio="xMidYMid" viewBox="0 0 1517 725"><g transform="translate(758.5,362.5) scale(1,1) translate(-758.5,-362.5)"><linearGradient id="ldbk-4frk22836mh" x1="-0.1" y1="0" x2="1.1" y2="1"><animate attributeName="y2" repeatCount="indefinite" dur="4s" keyTimes="0;0.5;1" values="-0.5;0.5;-0.5" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" calcMode="spline"></animate><stop stop-color="%23432f87" offset="0"></stop><stop stop-color="%23ea0b8b" offset="1"></stop></linearGradient><rect x="0" y="0" width="1517" height="725" fill="url(%23ldbk-4frk22836mh)"></rect></g></svg>');
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

img{
    width: 100px;
}

h1{
    color: white;
    font-family: Lilita One;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

i{
    color: white;
}