html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#map-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.navbar-custom{
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 10px 10px rgba(8, 8, 8, 0.322)
}

.navbar-custom .navbar-brand img {
  max-height: 40px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.navbar-custom .navbar-nav .nav-link {
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 12px;
  margin: 0 4px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover {
  animation-name: bounce;
  animation-duration: 0.5s;
}

@media (max-width: 768px) {
  .navbar-custom .navbar-nav .nav-link {
    margin: 5px;
  }

  #map-container {
    overflow: auto;
  }

  #map-image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    max-width: none;
  }
}

#contact-title{
  text-align: center;
  font-weight: bold;
  padding: 30px;
}