html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to right, #EC2127, #FFD200, 
  #77C043, #F58220, #2BABE2, #724C9F, #EA0B8B, #724C9F, #2BABE2, #F58220,#77C043, #FFD200, #EC2127);
  background-size: 200% auto;
  animation: rainbow-scroll 7s linear infinite;
}

@keyframes rainbow-scroll {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 100% center;
  }
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.map-container img {
  width: 100%;
  height: auto;
}

.map-image {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease;
  object-fit: cover;
}

.map-image.active {
  opacity: 1;
}

/* Ajuste para dispositivos móviles */

@media (max-width: 768px) {

  #map-container {
    overflow-x: scroll;
  }

  .map-image {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

.navbar-custom {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px 10px rgba(8, 8, 8, 0.322);
}

.navbar-custom .navbar-brand img {
  max-height: 40px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.navbar-custom .navbar-nav .nav-link {
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 12px;
  margin: 0 4px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover {
  animation-name: bounce;
  animation-duration: 0.5s;
}

@media (max-width: 768px) {
  .navbar-custom .navbar-nav .nav-link {
    margin: 5px;
  }
}

#contact-title {
  text-align: center;
  font-weight: bold;
  padding: 30px;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  box-shadow: 0px 0px 20px 0px #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  z-index: 99;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.whatsapp-float i {
  line-height: 60px;
}

.whatsapp-float.active {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
